body {
	background-color: white;
}

h1 {
	color: black;
	text-align: center;
	padding: 20px 0 10px 0;
	font-family: Helvetica;
	font-size: 35px;
}

h2 {
	color: black;
	text-align: center;
	font-family: Times;
	font-size: 30px;
	font-style: italic;
}

p {
	padding: 10px 30px 10px 30px;
	text-align: justify;
}