body {
	background-color: #CCCCCC;
	font-family: Helvetica;
	margin: 0 auto;
}

.container {
	background: #FFFFFF;
	width: 600px;
	height: auto;
	padding: 0px;
	margin: auto;
}

.navheader {
	text-align: center;
	background-color: #FFFFFF;
	padding: 20px;
	margin: 0 auto;
}

#origin{
	background-color: #C1E1EC;
	padding: 20px;
}

#classwork {
	background-color: #ADD8E6;
	padding: 20px;

}

#homework {
	background-color: #99CFE0;
	padding: 20px;

}

h1 {
	color: black;
	text-align: center;
	padding: 20px 0 10px 0;
	font-family: Helvetica;
	font-size: 55px;
	margin: 20px 0 0 0;
}

h2 {
	color: black;
	text-align: center;
	font-family: Times;
	font-size: 25px;
	font-style: italic;
	margin: 0 0 0 0;
}

h3 {
	color: black;
	text-align: center;
	font-family: Times;
	font-size: 20px;
	font-style: italics;
}

p {
	padding: 10px 30px 10px 30px;
	font-size: 16px;
	text-align: justify;
}

a {
	text-decoration: none;
	text-align: center;
}

li {
	list-style-type: circle;
}