/*FONT FAMILY HELPERS :)*/
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

/*CAN'T FIGURE OUT: background-image, lower line-through position, footer;*/

/*Semantic Structure*/

body {
	margin: 0;
	padding: 0;
}

header nav summary main section footer {
	margin: 0;
}


header {
	background: #000000;
	overflow: hidden;
	border-bottom: 5px solid rgb(255, 247, 53);
}

nav {
	float: right;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 5px;
}

summary {
	background-color: rgb(198, 198, 198);
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75) inset;
}

main {
	background-image: url('../img/coworking.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
	box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.75) inset;
}

aside {
	float: right;
	width: 350px;
	height: auto;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 30px;
	margin: 30px;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.5);
}

section {
	background-color: rgb(238, 238, 238);
	min-height: 100%;
}


footer {
	background-color: #000000;
}

/*Class and ID Structure*/

.container {
	width: 960px;
	margin: 0 auto;
	padding: 15px;
	overflow: auto;
}

.content {
	float: left;
	width: 285px;
	height: auto;
	margin: 0 auto;
	background-color: rgb(238, 238, 238);
	border-right: 1px solid rgb(200, 200, 200);
}

.content:last-child {
	border: none;
}

.button {
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	padding: 10px 0;
	margin: 0;
	width: 100%;
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
}

.gray {
	background-color: rgb(198, 198, 198);
}

#yellow {
	background-color: rgb(255, 247, 53);
	margin: 0 0 5px 0;
}

#content1 {
	background-color: none;
	padding: 25px 25px 25px 0;
}

#content2 {
	background-color: none;
	padding: 25px 25px;
}

#content3 {
	background-color: none;
	padding: 25px 0 25px 25px;
}

/*Typography*/

h1 {
	float: left;
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 23px;
	color: rgb(255, 247, 53);
}

h2 {
	clear: both;
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
	font-style: italic;
}

#gstrike {
	color: rgb(153, 153, 153);
	text-decoration: line-through;
}

#yunderline {
	border-bottom: 3px solid rgb(255, 247, 53);
}

h3 {
	padding: 0;
	margin: 10px 0 0 0;
	font-family: "Source Sans Pro";
	font-size: 23px;
	font-weight: 700;
}

h4 {
	padding: 0;
	margin: 0;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 20px;
}

a {
	color: #FFFFFF;
	font-size: 16px;
	margin: 0;
	padding: 0px;
	text-decoration: none;
}

nav a {
	padding: 5px;
}

main a{
	color: #000000;
	font-weight: 700;
}

section a{
	color: #000000;
	font-weight: 700;
}

p {
	font-family: "Source Sans Pro";
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding-bottom: 25px;

}

footer p {
	color: #FFFFFF;
	padding: 0;
}